# Database URL is injected by Vercel
# This is used for a local deployment.
DATABASE_URL=postgresql://neondb_owner:<password>@ep-round-frost-ajban92u.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require
BASE_URL=http://localhost:8000
